{% extends 'base.html' %}
{% load custom_filters %}
{% load static tailwind_tags %}
{% load compress %}
{% block scripts %}

{% endblock %}
{% block content %}
    <div class="container flex flex-row items-start px-6 pt-2 pb-0 mx-auto my-0">
        <div class="grid w-full">
            <h1 class="text-3xl font-semibold leading-6 text-gray-100 "><img class="inline p-1" id="servertype" src="{% static 'img/icons/'|add:server.server_type|add:'.png' %}" alt="{{ server.server_type }}"><span class="pl-1">Noctis iCTF</span></h1>


        </div>
    </div>

    <div class="container flex flex-col items-start px-6 pt-2 mx-auto md:flex-row">
        <div class="flex min-w-0 gap-x-4">
            <div class="bg-indigo-900 rounded-2xl drop-shadow-xl pb-1">
                {% with 'img/maps/'|add:server.server_type|add:'/'|add:server.mapname|add:'.jpg' as map_image_path %}
                    {% if map_image_path|file_exists %}
                        <img class="h-20 w-24 flex-none rounded-2xl" id="mapimg" src="{% static 'img/maps/'|add:server.server_type|add:'/'|add:server.mapname|add:'.jpg' %}" alt="{{ server.mapname }}">
                    {% else %}
                        <img class="h-20 w-24 flex-none rounded-2xl" id="mapimg" src="{% static 'img/maps/nomap.jpg' %}" alt="No map screenshot">
                    {% endif %}
                {% endwith %}
                <p class="text-center text-gray-500 text-xs" id="mapname">{{ server.mapname }}</p>
            </div>

            <div class="min-w-0 flex-auto">

                <p class="mt-1 truncate text-xs leading-5 text-gray-100" id="gametype"><strong>Game type: </strong>{{ server.gametype }}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-100" id="maptitle"><strong>Map title: </strong>{{ server.maptitle }}</p>

            </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <div class="mt-1 flex items-center gap-x-1.5">
                <div class="flex-none rounded-full {{ server.status }}_container p-1" id="statuscontainer">
                    <div class="h-1.5 w-1.5 rounded-full {{ server.status }}" id="statusindicator"></div>
                </div>

                <p class="text-xs leading-5 text-gray-500" id="serverstatus">{{ server.status_verbose }}</p>
            </div>
            <p class="mt-1 truncate text-xs leading-5 text-gray-100" id="players"><strong>Players: </strong>{{ server.numplayers }} / {{ server.maxplayers }}</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-100" id="host"><strong>Host: </strong>{{ server.hostname }}:{{ server.port }}</p>
        </div>
    </div>
{% endblock %}